$primary-color: #000;
$primary-color-lighter: rgba(0, 0, 0, 0.8);
$color-white: #fff;
$bg-color-white: #fff;
$bg-color-black: #000;
$color-white-lighter: rgba(255, 255, 255, 0.9);
$color-cite: rgba(255, 255, 255, 0.6);
$color-hover: rgba(62, 34, 3, 0.82);
$color-active: rgba(62, 34, 3, 0.82);
$btn-border-color: rgba(62, 34, 3, 0.82);
$btn-color: rgba(62, 34, 3, 0.82);
$btn-border-color-yellow: rgba(253, 180, 97, 0.82);
$btn-color-yellow: rgba(253, 180, 97, 0.82);
$btn-bg-color: rgba(253, 180, 97, 0.82);
$bg-color-active: rgba(253, 180, 97, 0.82);
$follow-link-color: rgba(253, 180, 97, 0.82);
$base-font: "Poppins", sans-serif;
$weight-regular: 400;
$base-weight: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$base-size: 18px;
$large-size: 72px;
$middle-size: 64px;
$small-size: 14px;
$copyright-size: 16px;
$base-margin-paragraph: 16px;
$base-margin-paragraph-last: 2*$base-margin-paragraph;
